*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#111;
    color:white;
}

header{
    background:#000;
    padding:20px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h1{
    color:#00ffcc;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

nav ul li a:hover{
    color:#00ffcc;
}

.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1542751371-adc38448a05e?auto=format&fit=crop&w=1600&q=80");
    background-size:cover;
    background-position:center;
}

.hero h2{
    font-size:55px;
    color:#00ffcc;
}

.hero p{
    margin:20px 0;
    font-size:22px;
}

.btn{
    background:#00ffcc;
    color:black;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
}

.features{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:60px 20px;
}

.card{
    background:#1e1e1e;
    padding:25px;
    width:280px;
    text-align:center;
    border:2px solid #00ffcc;
    border-radius:10px;
}

.card h3{
    color:#00ffcc;
    margin-bottom:15px;
}

footer{
    background:#000;
    text-align:center;
    padding:20px;
}